<!DOCTYPE html>
<html>
<head lang="en">
    <title>Autocompletion</title>
    {% load staticfiles %}
    <style type="text/css">
        .center-div
        {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 450px;
        height: 300px;
        }
        .input_box
        {
        width: 450px;
        height: 50px;
        font-size: 22pt;
        font-family:courier;
        }
    </style>
</head>
<body>
<div class="center-div">
    <h1 align="center" style="font-family:courier">Haystack Autocomplete</h1>

    <form class="form" autocomplete="off">
        <input class="typeahead input_box search-input ui-autocomplete-input" id="id_q" placeholder="Search..."
               autocomplete="off" name="q" size="75">
    </form>
</div>
<script type='text/javascript' src="http://code.jquery.com/jquery-1.11.0.js"></script>
<script type="text/javascript" src="{% static 'js/handlebars.js' %}"></script>
<script type='text/javascript' src="{% static 'js/typeahead.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'js/search.js' %}"></script>
</body>
</html>
